/* 
    Created on   : 01/10/2017. 
    Theme        : WeddingPlan婚礼策划网.
    Author       : @zhangxy188.
    Designed By  : @zhangxy188.
    Developed By : @zhangxy188.
   
    */
@font-face {
  font-family: 'aleiditaregular';
  src: url('../less/fonts/aleidita-webfont.woff2') format('woff2'), url('../less/fonts/aleidita-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dark__blackregular';
  src: url('../less/fonts/dark__black_d-webfont.woff2') format('woff2'), url('../less/fonts/dark__black_d-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
}
#wedding-wrapper {
  overflow-x: hidden;
  position: relative;
  background: #F5F5F5;
}
#wedding-page {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/*** 
====================================================================
  加载效果
====================================================================
***/
.rotation {
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  left: 50%;
}
.rotation .rotation-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container1 > div,
.container2 > div,
.container3 > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.container3 .circle1 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.circle1 {
  top: 0;
  left: 0;
}
.circle2 {
  top: 0;
  right: 0;
}
.circle3 {
  right: 0;
  bottom: 0;
}
.circle4 {
  left: 0;
  bottom: 0;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -o-transform: scale(0);
  }
  40% {
    -o-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
/*** 
====================================================================
  导航栏
====================================================================
***/
#wedding-header {
  position: relative;
  margin-bottom: 0;
  z-index: 999;
}
#wedding-header-section {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
@media (max-width: 767px) {
  .navbar-nav {
    border-radius: 10px;
  }
  .navbar-nav > :first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .navbar-nav > :last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .navbar-nav li {
    background-color: #226666;
  }
}
/*** 
====================================================================
  浮动字幕
====================================================================
***/
#wedding-subtitles {
  position: relative;
  height: 800px;
}
.wedding-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(66, 64, 64, 0.9);
  background: rgba(0, 0, 0, 0.8);
}
.wedding-cover {
  background-image: url(../../images/top.jpg);
  background-position: 0px 0px;
  background-size: cover;
  position: relative;
  height: 800px;
}
.wedding-cover .desc {
  top: 50%;
  position: absolute;
  width: 100%;
  margin-top: -80px;
  z-index: 2;
  color: #fff;
}
.wedding-cover .desc h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: 300 !important;
}
.wedding-cover .desc span {
  display: block;
  margin-bottom: 30px;
  font-size: 28px;
  letter-spacing: 1px;
}
.wedding-cover .desc span a {
  color: #fff;
}
.wedding-cover .desc span .btn.btn-primary {
  background: #66D37E;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.wedding-cover .btn {
  padding: 1em 5em;
  opacity: .9;
}
.text-center {
  text-align: center;
}
.animate-box {
  opacity: 0;
}
.wedding-cover .desc span a:hover.btn,
.wedding-cover .desc span a:focus.btn {
  border: 2px solid #fff !important;
  background: transparent !important;
}
/*** 
====================================================================
  当前成绩
====================================================================
***/
.mark-left {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.mark-left span {
  float: left;
  margin-top: 36px;
  width: 15%;
}
.mark-left .mark-des {
  float: right;
  width: 80%;
}
.mark-left .mark-des strong {
  margin-left: 26px;
}
@media screen and (max-width: 992px) {
  .mark-left .icon {
    width: 10%;
  }
}
@media screen and (max-width: 768px) {
  .mark-left .icon {
    width: 15%;
  }
}
.mark-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  color: #ccc;
}
/*** 
====================================================================
 蜜月酒店
====================================================================
***/
#wedding-hotel {
  float: left;
  width: 100%;
}
.wedding-bg-color {
  background: #fff;
}
.section-title {
  margin-bottom: 4em;
  float: left;
  width: 100%;
  z-index: 99;
}
.section-title h2 {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .section-title {
    padding-top: 3em;
  }
}
.image.diyi {
  background-image: url('../../images/room1.jpg');
}
.image.dier {
  background-image: url('../../images/room2.jpg');
}
.honey-moon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 30px;
}
.honey-moon .image,
.honey-moon .desc {
  float: left;
  width: 50%;
}
.honey-moon .image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.honey-moon .image .descrip {
  width: 180px;
  position: absolute;
  top: 0;
  right: -180px;
  padding: 10px;
  background: #FF5722;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.honey-moon .image .descrip p {
  margin: 0;
  color: #fff    ;
  font-size: 20px;
}
.honey-moon .image .descrip small,
.honey-moon .image .descrip span {
  display: block;
}
.honey-moon .image .descrip small {
  color: #fff    ;
  font-size: 18px;
}
.honey-moon .desc {
  padding: 50px;
  background: #fff;
}
.honey-moon:hover .image .descrip,
.honey-moon:focus .image .descrip {
  right: 0;
}
@media screen and (max-width: 768px) {
  .honey-moon .image,
  .honey-moon .desc {
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
  .honey-moon .image {
    height: 300px;
  }
  .honey-moon .desc {
    padding: 30px;
  }
}
/*** 
====================================================================
  旅行婚礼
====================================================================
***/
#wedding-travel {
  margin-bottom: 62em;
}
#wedding-travel .container {
  width: 100%;
}
#wedding-travel .travel-title {
  margin-bottom: 2em;
  float: left;
  width: 100%;
  z-index: 99;
  text-align: center;
  margin-top: 50px;
}
#wedding-travel li.one-third {
  width: 32.3%;
}
@media screen and (max-width: 768px) {
  #wedding-travel .travel-content li.one-third {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  #wedding-travel .travel-content li.one-third {
    width: 100%;
  }
}
#wedding-travel .travel-content {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
#wedding-travel .travel-content li {
  cursor: pointer;
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
}
#wedding-travel .travel-content li:hover .imgbg {
  opacity: 0;
}
#wedding-travel .travel-content .imgbg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: 0.5;
}
/*** 
====================================================================
  客户评价
====================================================================
***/
@media screen and (max-width: 768px) {
  .assess-title {
    padding-top: 1em;
  }
  #wedding-assess {
    bottom: 5em;
  }
}
#wedding-assess {
  height: 761px;
  background: #fff;
  position: relative;
  margin-top: -58em;
}
#wedding-assess .assess-title {
  margin-top: 3em;
  margin-bottom: 1em;
  float: left;
  width: 100%;
  z-index: 99;
  text-align: center;
  font-size: 30px;
}
#wedding-assess .assess-image {
  background-image: url('../../images/back.jpg');
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  margin-bottom: 5em;
  z-index: 100;
  position: relative;
}
#wedding-assess .assess-image .carousel {
  z-index: 200;
  height: 600px;
  width: 100%;
  position: relative;
}
#wedding-assess .assess-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(66, 64, 64, 0.1);
}
#wedding-assess .carousel-indicators {
  position: absolute;
  z-index: 200;
  bottom: 38%;
  margin-left: 46%;
}
#wedding-assess .carousel-indicators li {
  display: block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}
#wedding-assess .carousel-indicators .active {
  background-color: #000;
}
#assess-content {
  height: 600px;
}
#assess-content .pic {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 90px;
  margin-left: 10px;
  border: 3px solid #fff;
}
#assess-content p {
  width: 300px;
  margin: 44px 0 0 204px;
  border: 3px solid #fff;
  height: 200px;
  color: #000;
  border-radius: 8px;
  padding-top: 76px;
  box-shadow: 10px 10px 5px #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
}
#assess-content .item:nth-child(1) .pic {
  background-image: url('../../images/t1.jpg');
}
#assess-content .item:nth-child(2) .pic {
  background-image: url('../../images/t2.jpg');
}
#assess-content .item:nth-child(3) .pic {
  background-image: url('../../images/t3.jpg');
}
#assess-content .item:nth-child(4) .pic {
  background-image: url('../../images/t4.jpg');
}
#assess-content .item:nth-child(5) .pic {
  background-image: url('../../images/t5.jpg');
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity ;
  -moz-transition-property: opacity ;
  -ms-transition-property: opacity ;
  -o-transition-property: opacity ;
  transition-property: opacity ;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
/*** 
====================================================================
  底部
====================================================================
***/
@media screen and (max-width: 480px) {
  #footer {
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 414px) {
  #footer {
    padding-bottom: 8em;
  }
}
#footer {
  position: relative;
  height: 200px;
  margin-top: 2em;
  clear: both;
  background: #000;
  opacity: 0.8;
  padding-top: 100px;
}
#footer p {
  color: #fff;
  font-size: 14px;
}
#footer a {
  color: rgba(255, 255, 255, 0.5);
}
#footer a:hover,
#footer a:active,
#footer a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
  text-decoration: none;
}
#footer .wedding-social-icons > a {
  padding: 4px 10px;
  color: rgba(255, 255, 255, 0.5);
}
#footer .wedding-social-icons > a i {
  font-size: 26px;
}
#footer .wedding-social-icons > a:hover,
#footer .wedding-social-icons > a:focus,
#footer .wedding-social-icons > a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9) !important;
}
/*==================== 婚纱头部====================*/
#dress-cover {
  background-image: url(../../images/dress-top.jpg);
}
/*** 
====================================================================
  挑选指南
====================================================================
***/
#wedding-select,
#wedding-dress {
  padding: 4em 0;
}
@media screen and (max-width: 768px) {
  #wedding-select {
    padding: 2em 0;
  }
  #wedding-dress {
    padding: 2em 0;
  }
}
@media screen and (max-width: 480px) {
  #wedding-dress {
    margin-bottom: -12em;
  }
}
.heading-section {
  padding-bottom: 1em;
  margin-bottom: 5em;
  z-index: 99;
  border: 10px solid #fff;
  box-shadow: 10px 10px 5px #888888;
}
.heading-section h3 {
  font-size: 40px;
  font-weight: 300;
  position: relative;
}
.heading-section p {
  font-size: 20px;
}
.row-bottom-padded-md {
  height: 500px;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}
.slide-header {
  position: relative;
}
.slide-header .banner {
  width: 1200px;
  height: 410px;
  margin: 50px auto 0;
  position: absolute;
  left: 50%;
  margin-left: -600px;
}
.slide-header .banner .slide-carousel {
  margin-bottom: 20px;
}
.slide-header .banner .slide-3d .desc {
  display: none;
}
.slide-header .banner .slide-3d .item-list li {
  width: 300px;
  height: 400px;
  transition: all 0.5s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-header .banner .slide-3d .item-list li.item0 {
  transform: translate3d(-225px, 0, 0) scale(0.8);
}
.slide-header .banner .slide-3d .item-list li.item1 {
  transform: translate3d(0, 0, 0) scale(0.8);
  transform-origin: 0 50%;
  opacity: 1;
  z-index: 2;
}
.slide-header .banner .slide-3d .item-list li.item2 {
  transform: translate3d(225px, 0, 0) scale(1);
  transform-origin: 0 50%;
  opacity: 1;
  z-index: 3;
}
.slide-header .banner .slide-3d .item-list li.item3 {
  transform: translate3d(450px, 0, 0) scale(0.8);
  transform-origin: 100% 50%;
  opacity: 1;
  z-index: 2;
}
.slide-header .banner .slide-3d .item-list li.item4 {
  transform: translate3d(675px, 0, 0) scale(0.8);
}
.slide-header .banner .slide-3d .item-list li.item5 {
  transform: translate3d(900px, 0, 0) scale(0.8);
}
.slide-header .banner .slide-3d .item-list li.item6 {
  transform: translate3d(1125px, 0, 0) scale(0.8);
}
.slide-header .banner .slide-3d .item-list li.item7 {
  transform: translate3d(1350px, 0, 0) scale(0.8);
}
.slide-header .banner .slide-3d .item-list li.item8 {
  transform: translate3d(1575px, 0, 0) scale(0.8);
}
.slide-header .banner .slide-3d .item-list li.item9 {
  transform: translate3d(1800px, 0, 0) scale(0.8);
}
/*** 
====================================================================
  礼服展示
====================================================================
***/
#wedding-dress {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: -6em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #tabs {
    height: 1200px;
  }
}
#tabs {
  float: left;
  width: 100%;
  min-height: 500px;
}
#tabs .tabs-nav {
  border-bottom: 1px solid #f0f0f0;
  float: left;
  width: 100%;
}
#tabs .tabs-nav > a {
  float: left;
  width: 16.666667%;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ccc;
  padding: 10px 0 40px 0;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#tabs .tabs-nav > a > span {
  font-weight: 700;
  font-size: 16px;
}
#tabs .tabs-nav > a:hover {
  text-decoration: none;
  color: #FF5722;
}
#tabs .tabs-nav > a:focus,
#tabs .tabs-nav > a:active {
  outline: none;
  text-decoration: none !important;
}
#tabs .tabs-nav > a:focus > span,
#tabs .tabs-nav > a:active > span {
  text-decoration: none !important;
}
#tabs .tabs-nav > a.active {
  color: #FF5722;
  border-bottom: 1px solid #FF5722;
}
#tabs .tab-content-container {
  width: 100%;
  float: left;
  position: relative;
}
#tabs .tab-content-container .tab-content {
  position: absolute;
  font-size: 1.25em;
  padding: 3em 1em;
  max-width: 1230px;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#tabs .tab-content-container .tab-content.show {
  opacity: 1;
}
.mediabox {
  float: left;
  width: 33%;
  padding: 0 85px;
}
.mediabox img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .mediabox {
    float: none;
    width: auto;
    padding: 0 0 35px 0;
  }
  .mediabox img {
    float: left;
    margin: 0 25px 10px 0;
  }
}
@media screen and (max-width: 480px) {
  .mediabox {
    text-align: center;
  }
  .mediabox img {
    float: none;
    margin: 0 auto;
  }
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: 300px;
  cursor: pointer;
}
/*** 
====================================================================
  悬浮按钮
====================================================================
***/
#wedding-btn {
  position: fixed;
  width: 50px;
  height: 140px;
  bottom: 20px;
  right: 14px;
  font-size: 26px;
  text-align: center;
  z-index: 999;
}
#wedding-btn a {
  text-decoration: none;
  width: 50px;
  height: 60px;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2px;
}
#wedding-btn a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#wedding-btn i {
  display: block;
  padding-top: 10px;
  font-size: 22px;
  color: #fff;
}
#wedding-btn p {
  color: #fff;
  font-size: 11px;
}
/*** 
====================================================================
  妆容造型头部背景
====================================================================
***/
.makeup-subtitles {
  height: 500px !important;
}
.makeup-subtitles .wedding-cover {
  background-image: url(../../images/makeup-top.jpg);
  height: 500px !important;
}
.makeup-subtitles .desc {
  display: none;
}
/*** 
====================================================================
  内容页
====================================================================
***/
#makeup-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 640px) {
  #makeup-container .title-address {
    display: none;
  }
}
#makeup-container .title-address {
  clear: both;
  padding: 10px 0 10px 36px;
  line-height: 1;
  font-size: 14px;
  color: #8b8d8e !important;
}
#makeup-container .title-address a {
  color: #8b8d8e !important;
  display: inline-block;
}
#makeup-container .title-address a:hover {
  color: #FF5722 !important;
}
#makeup-container .title-address span:before {
  content: ">";
  padding-right: 16px;
}
@media screen and (max-width: 900px) {
  #makeup-bg .item {
    width: 100%!important;
  }
}
#makeup-bg {
  width: 100%;
}
#makeup-bg ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
}
#makeup-bg .item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 40px;
  text-align: center;
  float: left;
  overflow: hidden;
  width: 200px;
  min-height: 60px;
}
#makeup-bg img {
  max-width: 100%;
  padding: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#makeup-bg .ad {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 300px;
  position: relative;
}
#makeup-bg .ad-over {
  position: absolute !important;
  width: 100%;
  z-index: 1;
  height: 300px;
  background: rgba(66, 64, 64, 0.9);
  background: rgba(0, 0, 0, 0.8);
}
#makeup-bg .ad-content {
  height: 300px;
  background: url('../../images/pics/ad.jpg');
  background-position: 0px 0px;
  background-size: cover;
  position: relative;
}
#makeup-bg .ad-content h2,
#makeup-bg .ad-content span {
  position: absolute;
  z-index: 2;
  color: #fff;
}
#makeup-bg .ad-content h2 {
  margin-top: 68px;
  margin-left: 34px;
  font-family: 'aleiditaregular';
  font-size: 6em;
}
#makeup-bg .ad-content span {
  margin-top: 202px;
  margin-left: 754px;
  font-size: 24px;
}
@media screen and (max-width: 720px) {
  #makeup-bg .item {
    margin-bottom: 2em;
  }
}
.whitebg {
  background: #fff;
  width: 90%;
  margin: 2em 2em;
}
#mk-box {
  height: 56px;
  line-height: 44px;
  padding-top: 6px;
  border-bottom: 1px solid #b1aaaa;
}
#mk-box .box-left {
  display: block;
  float: left;
  font-size: 22px;
  margin-left: 26px;
  color: #FF5722;
}
#mk-box .box-right {
  display: block;
  float: right;
  height: 34px;
  line-height: 34px;
  margin: 8px 26px 0 0;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid;
  padding: 0 8px 0 8px;
  border-radius: 16px;
  color: #9e9898;
}
#mk-box .box-right:hover {
  color: #FF5722;
}
#mk-box .box-right:visited,
#mk-box .box-right:active {
  text-decoration: none;
}
/*** 
====================================================================
  主题婚礼头部
====================================================================
***/
.theme-cover .wedding-cover {
  background-image: url(../../images/theme-bg.jpg);
}
.theme-cover .wedding-cover h2 {
  margin-top: 96px;
}
/*** 
====================================================================
  We do
====================================================================
***/
#wedding-wedo {
  width: 100%;
  margin-top: 52px;
  background: #fff;
  padding-top: 90px;
}
#wedding-wedo .intro {
  margin-top: 10px;
  height: 200px;
  text-align: center;
}
#wedding-wedo .intro h2 {
  font-size: 50px;
  color: #282828;
  padding-top: 20px;
}
#wedding-wedo .intro p {
  width: 50%;
  margin: 30px 25%;
}
#wedding-wedo .summary {
  margin-top: 20px;
}
.sum {
  background: #F29F8C;
  padding: 40px 20px 20px 20px;
  margin-bottom: 30px;
}
.sum i {
  display: block;
  padding-top: 10px;
  margin-left: 38%;
  width: 26%;
  font-size: 36px;
}
.sum h3 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.sum p {
  font-size: 14px;
  color: #000;
}
/*** 
====================================================================
 侧边电梯
====================================================================
***/
#wedding-lift {
  width: 100%;
  margin-bottom: 4em;
}
#wedding-lift .col-md-3,
#wedding-lift .col-sm-6,
#wedding-lift .col-xs-12 {
  padding: 4px;
}
.lift-nav {
  position: fixed;
  top: 100px;
  z-index: 10;
  display: block;
}
.lift-nav li {
  width: 72px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  color: #000;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#7f000000);
  cursor: pointer;
}
.lift-nav li a {
  color: #fff;
  -moz-user-select: none;
}
.lift-nav li a:link,
.lift-nav li a:visited,
.lift-nav li a:hover,
.lift-nav li a:active {
  text-decoration: none;
  color: #fff;
}
.lift-nav li.current {
  background: tomato;
}
.lift-title {
  margin: 120px 0 30px 0;
}
.lift-title .big {
  border-bottom: 2px solid;
}
.lift-title h2 {
  font-family: 'aleiditaregular';
  font-size: 76px;
  margin-left: 10%;
}
.lift-title span {
  font-family: "微软雅黑";
  margin-left: 4%;
  font-size: 24px;
  border: 2px solid;
  border-radius: 10px;
  padding: 2px;
}
.lift-title p {
  padding-left: 10%;
  padding-top: 12px;
}
.hover {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hover .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.hover:hover .overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.hover img {
  display: block;
  width: 100%;
  position: relative;
  transition: all 0.35s;
}
.hover:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}
.hover h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  padding-top: 94px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.hover:hover h2 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*** 
====================================================================
 婚礼安排头部
====================================================================
***/
.arrange-cover .wedding-cover {
  background-image: url(../../images/arrang.jpg);
}
#wedding-arrange p {
  text-indent: 30px;
  color: #7b6c6c;
}
.arrange-top {
  padding: 4em 0em 3em 0em;
}
.arrange-top h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.arrange-top h2 span {
  background: #9E9E9E;
  padding: 0px 8px;
  margin-right: 0.5em;
}
.arrange-content {
  text-align: center;
  margin-top: 4em;
}
/*** 
====================================================================
 婚礼安排具体内容
====================================================================
***/
.arrang-pics {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  padding: 10px;
  border: 2px solid #9e9e9e;
  text-align: center;
}
.arrang-pics p {
  color: #a09d9d;
  margin-top: 12px;
}
#wedding-concrete .box {
  margin-top: 4em;
}
/*** 
====================================================================
 全球婚礼头部
====================================================================
***/
.global-cover .wedding-cover {
  background-image: url(../../images/global.jpg);
}
#wedding-global {
  margin-top: 70px;
}
.global-left h2 {
  font-weight: 600;
  color: #FF5722;
}
.global-left p {
  text-indent: 30px;
  margin-top: 28px;
  font-size: 16px;
}
.removeleft {
  animation: removeleft 1s ease-in-out;
  -moz-animation: removeleft 1s ease-in-out;
  -webkit-animation: removeleft 1s ease-in-out;
  -o-animation: removeleft 1s ease-in-out;
}
@keyframes removeleft {
  from {
    left: -666px;
  }
  to {
    left: 0px;
  }
}
@-moz-keyframes removeleft {
  from {
    left: -666px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes removeleft {
  from {
    left: -666px;
  }
  to {
    left: 0px;
  }
}
@-o-keyframes removeleft {
  from {
    left: -666px;
  }
  to {
    left: 0px;
  }
}
.global-right img {
  margin-top: 44px;
}
.removeright {
  animation: removeright 1s ease-in-out;
  -moz-animation: removeright 1s ease-in-out;
  -webkit-animation: removeright 1s ease-in-out;
  -o-animation: removeright 1s ease-in-out;
}
@keyframes removeright {
  from {
    right: -670px;
  }
  to {
    right: 0px;
  }
}
@-moz-keyframes removeright {
  from {
    right: -666px;
  }
  to {
    right: 0px;
  }
}
@-webkit-keyframes removeright {
  from {
    right: -666px;
  }
  to {
    right: 0px;
  }
}
@-o-keyframes removeright {
  from {
    right: -666px;
  }
  to {
    right: 0px;
  }
}
/*** 
====================================================================
 旅拍轮播图
====================================================================
***/
#global-travel {
  margin-top: 6em;
  margin-bottom: 4em;
  border-top: 1px solid #9e9e9e;
}
#global-travel .top {
  text-align: center;
  margin-bottom: 6em;
}
#global-travel h2 {
  font-family: 'dark__blackregular';
  font-size: 42px;
}
#global-travel img {
  width: 100%;
}
/*** 
====================================================================
 蜜月圣地
====================================================================
***/
#global-moon {
  margin-top: 6em;
}
#global-moon .top {
  margin: 8em 0 4em 0;
  border-top: 1px solid #9e9e9e;
}
#global-moon h2 {
  padding-left: 4%;
  position: relative;
}
#global-moon h2:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 30px;
  left: 2%;
  background: #FF5722;
}
#global-moon .content .row {
  margin-bottom: 4em;
}
#global-moon .content h3 {
  font-weight: 600;
  color: #F29F8C;
}
#global-moon .content p {
  text-indent: 30px;
  font-size: 16px;
}
#global-moon .content img {
  margin-top: 34px;
}
/*** 
====================================================================
联系我们
====================================================================
***/
.contact-cover {
  background-image: url(../../images/contact.jpg);
}
#contact-content {
  margin-top: 2em;
}
#contact-content h3 {
  font-family: 'dark__blackregular';
}
#contact-content span {
  color: #a09c9c;
}
#contact-content ul {
  margin-top: 2em;
  color: #a09c9c;
}
#contact-content li {
  padding-bottom: 12px;
}
#ajaxform input {
  color: #000;
}
#ajaxform label {
  color: #000;
}
#ajaxform input[type=button] {
  padding: 10px;
  margin-left: 76px;
  border: none;
  color: #FFF;
  background: #E64145;
  border-radius: 4px;
  cursor: pointer;
}
#ajaxform .tips {
  display: inline;
}
.icon-true {
  color: #4CAF50;
}
.icon-false {
  color: #E64145;
}
