<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>婚礼布置</title>	
	<link rel="shortcut icon" href="../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../public/less/base.css">
	<link rel="stylesheet" type="text/css" href="../public/less/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../public/less/iconmoon.css">
	<link rel="stylesheet" type="text/css" href="../public/less/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/less/slide.css">
	<link rel="stylesheet" type="text/css" href="../public/less/style.css">

</head>
<body>	
<!-- ===================================================
	加载效果
	==================================================== -->
	<div class="loader"></div>

<!-- ===================================================
	导航栏
	==================================================== -->
	<div id="wedding-wrapper">
		<div id="wedding-page">		
			<div id="wedding-header">
				<header id="wedding-header-section">
					<nav id="wedding-menu-wrap" role="navigation" class="navbar navbar-default">
						<div class="container-fluid">				
							<div class="nav-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Wedding</a>
							</div>		
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		
								<ul class="nav navbar-nav navbar-right" >
									<li ><a href="../index.html">首页</a></li>
									<li><a href="./dress.html">婚纱风情</a></li>
									<li><a href="./makeup.html">妆容造型</a></li>
									<li class="dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">主题婚礼<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="./theme.html#west" target="_blank">西方</a></li>
											<li><a href="./theme.html#ancient" target="_blank">古色</a></li>
											<li><a href="./theme.html#dream" target="_blank">梦幻</a></li>
											<li><a href="./theme.html#modern" target="_blank">现代</a></li>	
										</ul>
									</li>

									<li><a href="./arrange.html">婚礼布置</a></li>
									<li><a href="./global.html">全球婚礼</a></li>
									<li><a href="./contact.html">联系我们</a></li>	
								</ul>
							</div>	
						</div>
					</nav>		
				</header>
			</div>
			
		<!-- ===================================================
			浮动字幕
			==================================================== -->				
			<div id="wedding-subtitles" class="arrange-cover">
				<div class="wedding-overlay"></div>
				<div class="wedding-cover text-center"  data-stellar-background-ratio="0.5" >
					<div class="desc animate-box fadeInUp animated">
						<h2>每一处的完美，精心以待</h2>						
					</div>
				</div>
			</div>
			
		<!-- ===================================================
			简单介绍
			==================================================== -->	
			<div id="wedding-arrange">
				<div class="container">
					<div class="arrange-top">
						<h2><span></span>WE CAN DO</h2>
					</div>
					<div class="row">
						<div class="col-md-7">
							<p>一场完美的婚礼，作为宣誓自已经找到了生命中的另一半的神圣场地，婚礼的布置至关重要。我们严格把控每一丝细节，追求完美。婚礼布置是营造现场气氛的重要内容，完美的婚礼场布是更新人给宾客最直接的形象感觉，很多新人都很重视自己的婚礼布置，但是往往花了很多钱却没有达到自己想要的感觉和现场氛围，考察单项的设计很成 功，整体的规划也没问题，只是整体的感觉差强人意，原因在于其婚礼布置存在一定的误区，盲目追风和不专业的整体设计抹杀了婚礼现场的整体存在感和统一性。</p>
							<p>根据客户对于主题的不同选择，我们将做出具体的布置。对于细节我们是十分看重的，所以即使是餐具的布置都会吻合主题，让整个婚礼现场完美统一。婚桌，仪式区，甜品，酒店，我们都有很好的细分。</p>
							<div class="arrange-content">
								<div class="row">
									<div class="col-md-6">
										<div class="sum animate-box">
											<h3>圆桌布置</h3>
											<p>圆桌布置介绍圆桌布置介绍圆桌布置介绍圆桌布置介绍圆桌布置介绍圆桌布置介绍圆桌布置介绍</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="sum animate-box">
											<h3>长桌布置</h3>
											<p>长桌布置介绍长桌布置介绍长桌布置介绍长桌布置介绍长桌布置介绍长桌布置介绍长桌布置介绍</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="sum animate-box">
											<h3>婚礼仪式区</h3>
											<p>婚礼仪式区介绍婚礼仪式区介绍婚礼仪式区介绍婚礼仪式区介绍婚礼仪式区介绍婚礼仪式区介绍</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="sum animate-box">
											<h3>婚礼甜品</h3>
											<p>婚礼甜品介绍婚礼甜品介绍婚礼甜品介绍婚礼甜品介绍婚礼甜品介绍婚礼甜品介绍婚礼甜品介绍</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<img src="../images/arrange-top.jpg">
						</div>
					</div>
				</div>
			</div>
		<!-- ===================================================
			具体内容
			==================================================== -->	
			<div id="wedding-concrete">
				<div class="container">
					<div class="box">
						<div class="arrange-top">
							<h2><span></span>圆桌布置</h2>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12 cover">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/round/r1.jpg" class="img-responsive">
									<p>红色系金树杈金果实喜庆复古</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/round/r2.jpg" class="img-responsive">
									<p>纯白花团浅色系</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/round/r3.jpg" class="img-responsive">
									<p>蓝色系金属椅花簇</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/round/r4.jpg" class="img-responsive">
									<p>白色白色轻纱水晶灯纯洁</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="box">
						<div class="arrange-top">
							<h2><span></span>长桌布置</h2>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/long/l1.jpg" class="img-responsive">
									<p>长桌婚礼长桌婚礼</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/long/l2.jpg" class="img-responsive">
									<p>长桌婚礼长桌婚礼</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/long/l3.jpg" class="img-responsive">
									<p>长桌婚礼长桌婚礼</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/long/l4.jpg" class="img-responsive">
									<p>长桌婚礼长桌婚礼</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="box">
						<div class="arrange-top">
							<h2><span></span>婚礼仪式区</h2>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/area/a1.jpg" class="img-responsive">
									<p>婚礼仪式区婚礼仪式区</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/area/a2.jpg" class="img-responsive">
									<p>婚礼仪式区婚礼仪式区</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/area/a3.jpg" class="img-responsive">
									<p>婚礼仪式区婚礼仪式区</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/area/a4.jpg" class="img-responsive">
									<p>婚礼仪式区婚礼仪式区</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="box">
						<div class="arrange-top">
							<h2><span></span>婚礼甜点</h2>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/dessert/d1.jpg" class="img-responsive">
									<p>婚礼甜点婚礼甜点</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/dessert/d2.jpg" class="img-responsive">
									<p>婚礼甜点婚礼甜点</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/dessert/d3.jpg" class="img-responsive">
									<p>婚礼甜点婚礼甜点</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="arrang-pics animate-box">
									<img src="../images/arrange/dessert/d4.jpg" class="img-responsive">
									<p>婚礼甜点婚礼甜点</p>
								</div>
							</div>
						</div>
					</div>					
					
				</div>
		<!-- ===================================================
			底部
			==================================================== -->
			<footer>
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<p class="wedding-social-icons">
									<a href="#"><i class="iconfont icon-cart"></i></a>
									<a href="#"><i class="iconfont icon-mobile2"></i></a>
									<a href="#"><i class="iconfont icon-bubbles"></i></a>
									<a href="#"><i class="iconfont icon-dgoogle"></i></a>
									<a href="#"><i class="iconfont icon-qrcode"></i></a>
								</p>
								<p><a href="../index.html">wedding首页</a> | <a href="./contact.html">联系我们</a> | <a href="javascript:void">关于我们</a> <br>©2017 wedding版权所有  </p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			


		<!-- ===================================================
			悬浮按钮
			==================================================== -->
			<div id="wedding-btn">

				<a href="./contact.html" class="goOrder">
					<i class="iconfont icon-order"></i>
					<p>预定</p>
				</a>
				<a href="javascript:void(0)" class="goTop">
					<i class="iconfont icon-stick"></i>
					<p>返回顶部</p>
				</a>
			</div>				
		</div>

	</div>	



	<script src="../public/libs/jquery-2.0.2.min.js"></script>
	<script src="../public/libs/bootstrap.js"></script>
	<script src="../public/libs/loading.js"></script>
	<script src="../public/libs/slide.min.js"></script>
	<script src="../public/libs/jquery.masonry.min.js"></script>
	<script src="../public/libs/jquery.lazyload.min.js"></script>
	<script src="../public/libs/jquery.waypoints.min.js"></script>
	<script src="../scripts/index.js"></script>
</body>
</html>