<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>联系我们</title>	
	<link rel="shortcut icon" href="../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../public/less/base.css">
	<link rel="stylesheet" type="text/css" href="../public/less/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../public/less/iconmoon.css">
	<link rel="stylesheet" type="text/css" href="../public/less/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/less/slide.css">
	<link rel="stylesheet" type="text/css" href="../public/less/style.css">

</head>
<body>	
<!-- ===================================================
	加载效果
	==================================================== -->
	<div class="loader"></div>
	
<!-- ===================================================
	导航栏
	==================================================== -->
	<div id="wedding-wrapper">
		<div id="wedding-page">		
			<div id="wedding-header">
				<header id="wedding-header-section">
					<nav id="wedding-menu-wrap" role="navigation" class="navbar navbar-default">
						<div class="container-fluid">				
							<div class="nav-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Wedding</a>
							</div>		
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		
								<ul class="nav navbar-nav navbar-right" >
									<li ><a href="../index.html">首页</a></li>
									<li><a href="./dress.html">婚纱风情</a></li>
									<li><a href="./makeup.html">妆容造型</a></li>
									<li class="dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">主题婚礼<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="./theme.html#west" target="_blank">西方</a></li>
											<li><a href="./theme.html#ancient" target="_blank">古色</a></li>
											<li><a href="./theme.html#dream" target="_blank">梦幻</a></li>
											<li><a href="./theme.html#modern" target="_blank">现代</a></li>	
										</ul>
									</li>

									<li><a href="./arrange.html">婚礼布置</a></li>
									<li><a href="./global.html">全球婚礼</a></li>
									<li><a href="./contact.html">联系我们</a></li>	
								</ul>
							</div>	
						</div>
					</nav>		
				</header>
			</div>
			
		<!-- ===================================================
			浮动字幕
			==================================================== -->				
			<div id="wedding-subtitles" >
				<div class="wedding-overlay"></div>
				<div class="wedding-cover text-center contact-cover"  data-stellar-background-ratio="0.5" >
					<div class="desc">
						<h2>从现在出发，联系我们，定制幸福</h2>						
					</div>
				</div>
			</div>
			




			<div id="contact-content">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h3>Our Address</h3>
							<span>我的联系方式</span>
							<ul>
								<li><i class="iconfont icon-address"></i>地址：xx省xx市xx区xxxxx</li>
								<li><i class="iconfont icon-phone"></i>电话：1234567</li>
								<li><i class="iconfont icon-mail"></i>邮箱：1234567@youxiang.com</li>
								<li><i class="iconfont icon-qq"></i>QQ：987654321</li>
								<li><i class="iconfont icon-bubbles"></i>微信：weddingplan</li>
							</ul>
						</div>
						<div class="col-md-6">
							<h3>Your Address</h3>
							<span>您的联系方式</span>
							<form name="ad-from" id="ajaxform">
								<ul>
									<li >
										<label for="">姓名</label>
										<input type="text"  class="name" placeholder="请输入2到4位的中文名">
										<div id="name" class="tips iconfont"></div>
									</li>
									<li >
										<label for="">手机</label>
										<input type="text"  class="mobile" placeholder="请输入11位的手机号码">
										<div id="mobile" class="tips iconfont"></div>
									</li>
									<li >
										<label for="">邮箱</label>
										<input type="email"  class="email" placeholder="请输入规范邮箱地址">
										<div id="email" class="tips iconfont"></div>
									</li>
									<li id="button">
										<input type="button" class="submit" value="提交信息">			
									</li>
								</ul>

								
							</form>
							
						</div>
					</div>
				</div>
			</div>

		<!-- ===================================================
			底部
			==================================================== -->
			<footer>
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<p class="wedding-social-icons">
									<a href="#"><i class="iconfont icon-cart"></i></a>
									<a href="#"><i class="iconfont icon-mobile2"></i></a>
									<a href="#"><i class="iconfont icon-bubbles"></i></a>
									<a href="#"><i class="iconfont icon-dgoogle"></i></a>
									<a href="#"><i class="iconfont icon-qrcode"></i></a>
								</p>
								<p><a href="../index.html">wedding首页</a> | <a href="./contact.html">联系我们</a> | <a href="javascript:void">关于我们</a> <br>©2017 wedding版权所有  </p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			


		<!-- ===================================================
			悬浮按钮
			==================================================== -->
			<div id="wedding-btn">

				<a href="./contact.html" class="goOrder">
					<i class="iconfont icon-order"></i>
					<p>预定</p>
				</a>
				<a href="javascript:void(0)" class="goTop">
					<i class="iconfont icon-stick"></i>
					<p>返回顶部</p>
				</a>
			</div>				
		</div>

	</div>	



	<script src="../public/libs/jquery-2.0.2.min.js"></script>
	<script src="../public/libs/bootstrap.js"></script>
	<script src="../public/libs/loading.js"></script>
	<script src="../public/libs/slide.min.js"></script>
	<script src="../public/libs/jquery.masonry.min.js"></script>
	<script src="../public/libs/jquery.lazyload.min.js"></script>
	<script src="../public/libs/jquery.waypoints.min.js"></script>
	<script src="../scripts/index.js"></script>

</body>
</html>