<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>婚纱风情</title>	
	<link rel="shortcut icon" href="../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../public/less/base.css">
	<link rel="stylesheet" type="text/css" href="../public/less/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../public/less/iconmoon.css">
	<link rel="stylesheet" type="text/css" href="../public/less/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/less/slide.css">
	<link rel="stylesheet" type="text/css" href="../public/less/style.css">

</head>
<body>
<!-- ===================================================
	加载效果
	==================================================== -->
	<div class="loader"></div>
	
<!-- ===================================================
	导航栏
	==================================================== -->
	<div id="wedding-wrapper">
		<div id="wedding-page">
			<div id="wedding-header">
				<header id="wedding-header-section">
					<nav id="wedding-menu-wrap" role="navigation" class="navbar navbar-default">
						<div class="container-fluid">				
							<div class="nav-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Wedding</a>
							</div>		
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		
								<ul class="nav navbar-nav navbar-right" >
									<li ><a href="../index.html">首页</a></li>
									<li><a href="./dress.html">婚纱风情</a></li>
									<li><a href="./makeup.html">妆容造型</a></li>
									<li class="dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">主题婚礼<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="./theme.html" target="_blank">西方</a></li>
											<li><a href="./theme.html#ancient" target="_blank">古色</a></li>
											<li><a href="./theme.html#dream" target="_blank">梦幻</a></li>
											<li><a href="./theme.html#modern" target="_blank">现代</a></li>	
										</ul>
									</li>

									<li><a href="./arrange.html">婚礼布置</a></li>
									<li><a href="./global.html">全球婚礼</a></li>
									<li><a href="./contact.html">联系我们</a></li>	
								</ul>
							</div>	
						</div>
					</nav>		
				</header>
			</div>


			<!-- ===================================================
				浮动字幕
				==================================================== -->
				<div id="wedding-subtitles">
					<div class="wedding-overlay"></div>
					<div class="wedding-cover text-center" id="dress-cover" data-stellar-background-ratio="0.5" style="background-image: url(../images/dress-top.jpg);">
						<div class="desc">
							<h2>选我所爱，爱我所选！</h2>						
						</div>
					</div>
				</div>
				

			<!-- ===================================================
				挑选指南
				==================================================== -->
				<div id="wedding-select">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box ">
								<h3>如何挑选</h3>
								<p>我们在全国各大城市设有婚纱体验馆，馆内陈列着最新款的主打礼服，您可以在馆内挑选试穿。婚纱来自与我们合作的各大公司，和独立设计师们，您可以在网上选定，店内试穿。</p>
							</div>
						</div>
					</div>
					<div class="container ">
						<div class="row row-bottom-padded-md animate-box">
							<div class="slide-header">
								<div class="banner">
									<div id="slide3d" class="slide-carousel slide-3d">
										<ul  class="item-list clearfix">
											<li class="item0">
												<div class="item-content">
													<a href="javascript:void(0);">
														<img class="cover-img" src="../images/3d1.jpg" alt="">
													</a>
												</div>
											</li>
											<li class="item1">
												<div class="item-content">
													<a href="javascript:void(0);">
														<img class="cover-img" src="../images/3d2.jpg" alt="">
													</a>
												</div>
											</li>
											<li class="item2">
												<div class="item-content">
													<a href="javascript:void(0);">
														<img class="cover-img" src="../images/3d3.jpg" alt="">
													</a>
												</div>
											</li>
											<li class="item3">
												<div class="item-content">
													<a href="javascript:void(0);">
														<img class="cover-img" src="../images/3d4.jpg" alt="">
													</a>
												</div>
											</li>
											<li class="item4">
												<div class="item-content">
													<a href="javascript:void(0);">
														<img class="cover-img" src="../images/3d5.jpg" alt="">
													</a>
												</div>
											</li>
											<li class="item5">
												<div class="item-content">
													<a href="javascript:void(0);">
														<img class="cover-img" src="../images/3d6.jpg" alt="">
													</a>
												</div>
											</li>
											<li class="item6">
												<div class="item-content">
													<a href="javascript:void(0);">
														<img class="cover-img" src="../images/3d7.jpg" alt="">
													</a>
												</div>
											</li>
										</ul>
										<!--indicators-->
										<div class="indicator-list">
											<a href="javascript:void(0);" data-slide-index="0" class="selected"></a>
											<a href="javascript:void(0);" data-slide-index="1"></a>
											<a href="javascript:void(0);" data-slide-index="2"></a>
											<a href="javascript:void(0);" data-slide-index="3"></a>
											<a href="javascript:void(0);" data-slide-index="4"></a>
											<a href="javascript:void(0);" data-slide-index="5"></a>
											<a href="javascript:void(0);" data-slide-index="6"></a>  
										</div>
										<!--controls-->
										<div class="controls">
											<a  class="item-prev glyphicon glyphicon-menu-left" href="javascript:void(0);"></a>
											<a  class="item-next glyphicon glyphicon-menu-right" href="javascript:void(0);"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row animate-box">
							<div class="col-md-8 col-md-offset-2 ">
								<h3>独立定制</h3>
								<p>如果您希望拥有一件独属于您的礼服，我们也能为您提供独特的定制服务。由顶尖设计师为您打造专属，不列入商品范畴，不会多版贩卖。世间仅此一件的美，您，心动了吗？</p>
							</div>
						</div>
					</div>
				</div>
				

			<!-- ===================================================
				礼服展示
				==================================================== -->
				<div id="wedding-dress">				
					<div class="container">
						<div class="row animate-box">
							<div class="col-md-12">
								<div class="section-title text-center">
									<h2>礼服展示</h2>
								</div>
							</div>
						</div>
						<div id="tabs" class="animate-box">
							<nav class="tabs-nav">
								<a href="javascript:void(0)" class="active" data-tab="tab1">
									<span>欧式奢华</span>
								</a>
								<a href="javascript:void(0)" data-tab="tab2">
									<span>红黑溢彩</span>
								</a>
								<a href="javascript:void(0)" data-tab="tab3">
									<span>透视风情</span>
								</a>
								<a href="javascript:void(0)" data-tab="tab4">
									<span>异域奇幻</span>
								</a>
								<a href="javascript:void(0)" data-tab="tab5">
									<span>集体婚礼</span>
								</a>
								<a href="javascript:void(0)" data-tab="tab6">
									<span>古色古香</span>
								</a>
							</nav>
							<div class="tab-content-container">
								<div class="tab-content active show" data-tab-content="tab1">								
									<div class="mediabox">
										<img src="../images/o1.jpg" class="img-responsive" alt="Image">
									</div>	
									<div class="mediabox">
										<img src="../images/o2.jpg" class="img-responsive" alt="Image">
									</div>
									<div class="mediabox">
										<img src="../images/o3.jpg" class="img-responsive" alt="Image">
									</div>													
								</div>
								<div class="tab-content" data-tab-content="tab2">								
									<div class="mediabox">
										<img src="../images/y1.jpg" class="img-responsive" alt="Image">
									</div>	
									<div class="mediabox">
										<img src="../images/y2.jpg" class="img-responsive" alt="Image">
									</div>
									<div class="mediabox">
										<img src="../images/y3.jpg" class="img-responsive" alt="Image">
									</div>														
								</div>
								<div class="tab-content" data-tab-content="tab3">
									<div class="mediabox">
										<img src="../images/s1.jpg" class="img-responsive" alt="Image">
									</div>	
									<div class="mediabox">
										<img src="../images/s2.jpg" class="img-responsive" alt="Image">
									</div>
									<div class="mediabox">
										<img src="../images/s3.jpg" class="img-responsive" alt="Image">
									</div>									
								</div>
								<div class="tab-content" data-tab-content="tab4">
									<div class="mediabox">
										<img src="../images/yiyu1.jpg" class="img-responsive" alt="Image">
									</div>
									<div class="mediabox">
										<img src="../images/yiyu2.jpg" class="img-responsive" alt="Image">
									</div>
									<div class="mediabox">
										<img src="../images/yiyu3.jpg" class="img-responsive" alt="Image">
									</div>												
								</div>
								<div class="tab-content" data-tab-content="tab5">
									<div class="mediabox">
										<img src="../images/jiti1.jpg" class="img-responsive" alt="Image">
									</div>
									<div class="mediabox">
										<img src="../images/jiti2.jpg" class="img-responsive" alt="Image">
									</div>	
									<div class="mediabox">
										<img src="../images/jiti3.jpg" class="img-responsive" alt="Image">
									</div>											
								</div>
								<div class="tab-content" data-tab-content="tab6">
									<div class="mediabox">
										<img src="../images/gu1.jpg" class="img-responsive" alt="Image">
									</div>	
									<div class="mediabox">
										<img src="../images/gu2.jpg" class="img-responsive" alt="Image">
									</div>
									<div class="mediabox">
										<img src="../images/gu3.jpg" class="img-responsive" alt="Image">
									</div>											
								</div>
							</div>

						</div>
					</div>
					
				</div>
				

			<!-- ===================================================
				底部
				==================================================== -->
				<footer>
					<div id="footer">
						<div class="container">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 text-center">
									<p class="wedding-social-icons">
										<a href="#"><i class="iconfont icon-cart"></i></a>
										<a href="#"><i class="iconfont icon-mobile2"></i></a>
										<a href="#"><i class="iconfont icon-bubbles"></i></a>
										<a href="#"><i class="iconfont icon-dgoogle"></i></a>
										<a href="#"><i class="iconfont icon-qrcode"></i></a>
									</p>
									<p><a href="../index.html">wedding首页</a> | <a href="./contact.html">联系我们</a> | <a href="javascript:void">关于我们</a> <br>©2017 wedding版权所有  </p>
								</div>
							</div>
						</div>
					</div>
				</footer>
				


			<!-- ===================================================
				悬浮按钮
				==================================================== -->
				<div id="wedding-btn">
					
					<a href="./contact.html" class="goOrder">
						<i class="iconfont icon-order"></i>
						<p>预定</p>
					</a>
					<a href="javascript:void(0)" class="goTop">
						<i class="iconfont icon-stick"></i>
						<p>返回顶部</p>
					</a>
				</div>

			</div>

		</div>	



		<script src="../public/libs/jquery-2.0.2.min.js"></script>
		<script src="../public/libs/bootstrap.js"></script>
		<script src="../public/libs/loading.js"></script>
		<script src="../public/libs/slide.min.js"></script>
		<script src="../public/libs/jquery.masonry.min.js"></script>
		<script src="../public/libs/jquery.lazyload.min.js"></script>
		<script src="../public/libs/jquery.waypoints.min.js"></script>
		<script src="../scripts/index.js"></script>
	</body>
	</html>