<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>全球婚礼</title>	
	<link rel="shortcut icon" href="../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../public/less/base.css">
	<link rel="stylesheet" type="text/css" href="../public/less/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../public/less/iconmoon.css">
	<link rel="stylesheet" type="text/css" href="../public/less/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/less/slide.css">
	<link rel="stylesheet" type="text/css" href="../public/less/style.css">

</head>
<body>	
<!-- ===================================================
	加载效果
	==================================================== -->
	<div class="loader"></div>

<!-- ===================================================
	导航栏
	==================================================== -->
	<div id="wedding-wrapper">
		<div id="wedding-page">			
			<div id="wedding-header">
				<header id="wedding-header-section">
					<nav id="wedding-menu-wrap" role="navigation" class="navbar navbar-default">
						<div class="container-fluid">				
							<div class="nav-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Wedding</a>
							</div>		
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		
								<ul class="nav navbar-nav navbar-right" >
									<li ><a href="../index.html">首页</a></li>
									<li><a href="./dress.html">婚纱风情</a></li>
									<li><a href="./makeup.html">妆容造型</a></li>
									<li class="dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">主题婚礼<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="./theme.html#west" target="_blank">西方</a></li>
											<li><a href="./theme.html#ancient" target="_blank">古色</a></li>
											<li><a href="./theme.html#dream" target="_blank">梦幻</a></li>
											<li><a href="./theme.html#modern" target="_blank">现代</a></li>	
										</ul>
									</li>

									<li><a href="./arrange.html">婚礼布置</a></li>
									<li><a href="./global.html">全球婚礼</a></li>
									<li><a href="./contact.html">联系我们</a></li>	
								</ul>
							</div>	
						</div>
					</nav>		
				</header>
			</div>

		<!-- ===================================================
			浮动字幕
			==================================================== -->				
			<div id="wedding-subtitles" class="global-cover">
				<div class="wedding-overlay"></div>
				<div class="wedding-cover text-center"  data-stellar-background-ratio="0.5" >
					<div class="desc animate-box fadeInUp animated">
						<h2>为爱旅行，因爱同行</h2>						
					</div>
				</div>
			</div>
			
		<!-- ===================================================
			全球旅游内容
			==================================================== -->	
			<div id="wedding-global">
				<div class="container">
					<div class="row">
						<div class="col-md-6 global-left">
							<h2>旅游婚礼</h2>
							<p>旅行结婚是许多情侣热衷的一种结婚方式，因为它不仅可以充分享受二人世界，而且可以欣赏到迷人的自然风光，旅行结婚是目前年轻人喜欢的结婚方式。</p>
							<p>提及旅游，世界上有许许多多美丽的地方，新婚燕尔的男女，更向往这些人间天堂。不过出行中，应该计划好自己的旅游结婚流程，使得出游计划顺利进行，避免被琐事困扰。成婚是人生的一件大事，每个人都期望本人的婚礼能留下人生的美好与回想。随着年代的变迁，21世纪的今日，婚礼不再以简单的婚宴的奢侈为新人的表达方式，而是出现了特性化与多元化的展现趋势。跳出传统婚宴，挑选轻松、浪漫的旅行、结婚、以及婚纱外拍融合为一体的旅行结婚，成为时下年青人的时髦选择。一张成婚证、一次浪漫而别致的游览，谱写着一首首新年代的婚姻奏鸣曲。</p>
						</div>
						<div class="col-md-6 global-right">
							<img src="../images/travel.jpg" class="img-responsive">
						</div>
					</div>
				</div>
			</div>

		<!-- ===================================================
			旅拍轮播
			==================================================== -->	
			<div id="global-travel">
				<div class="top">
					<h2 class="animate-box">Global trip shoot</h2>
					<p class="animate-box">让世界听见你的幸福，让镜头记下你的美丽</p>
				</div>

				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						<li data-target="#carousel-example-generic" data-slide-to="3"></li>
						<li data-target="#carousel-example-generic" data-slide-to="4"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="../images/glo1.jpg" alt="...">
						</div>
						<div class="item">
							<img src="../images/glo2.jpg" alt="...">
						</div>
						<div class="item">
							<img src="../images/glo3.jpg" alt="...">
						</div>
						<div class="item">
							<img src="../images/glo4.jpg" alt="...">
						</div>
						<div class="item">
							<img src="../images/glo5.jpg" alt="...">
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>

		<!-- ===================================================
			蜜月圣地
			==================================================== -->
			<div id="global-moon">
				<div class="top">
					<h2 class="animate-box">蜜月圣地</h2>
						
				</div>
				<div class="container content ">
					<div class="row animate-box">
						<div class="col-md-8">
							<img src="../images/maer.jpg" alt="" class="img-responsive">
						</div>
						<div class="col-md-4">
							<h3>马尔代夫</h3>
							<p>马尔代夫位于斯里兰卡南方浩瀚的印度洋上，大大小小千余座珊瑚岛如珍珠散落在赤道两侧，被称为印度洋上人间最后的乐园。马尔代夫的岛屿都是因古代海底火山爆发而成，这里地形地貌千变万化，配上如空气般透明的海水和雪白细腻的沙滩，成就了一座座海上的世外桃源。</p>
							<p>马尔代夫马尔代夫可谓是人间天堂，1200多个珊瑚岛，每个都独具特色。来这里蜜月可以和爱人住在水上屋,可以享受屋前的私人海域，这无疑是上帝赐予的最美好的礼物，还可以和心爱的他到世界上第一家全玻璃海底餐厅一边享受马尔代夫的特色美食一边欣赏缤纷的海底世界。</p>
						</div>		
					</div>
					<div class="row animate-box">
						<div class="col-md-8">
							<img src="../images/bali.jpg" alt="" class="img-responsive">
						</div>
						<div class="col-md-4">
							<h3>巴厘岛</h3>
							<p>巴厘岛是世界著名旅游岛，印度尼西亚33个一级行政区之一。沙努尔、努沙-杜尔和库达等处的海滩，是岛上景色最美的海滨浴场，这里沙细滩阔、海水湛蓝清澈。每年来此游览的各国游客络绎不绝。由于巴厘岛万种风情，景物甚为绮丽。因此，它还享有多种别称，如神明之岛、恶魔之岛、罗曼斯岛、绮丽之岛、天堂之岛、魔幻之岛、花之岛等。</p>
							<p>巴厘岛白色的爱情海滩是巴厘岛着名的标签，到巴厘岛蜜月可以在夕阳下与爱人牵手走在这片沙滩上，巴厘岛的海滩浴场也不容错过哦，海水清澈湛蓝，景物极其绚丽，如此浪漫的海岛无疑成为了新人蜜月的度假圣地。</p>
						</div>		
					</div>
					<div class="row animate-box">
						<div class="col-md-8">
							<img src="../images/maoli.jpg" alt="" class="img-responsive">
						</div>
						<div class="col-md-4">
							<h3>毛里求斯</h3>
							<p>美国大文豪马克·吐温曾经这样赞美：毛里求斯是天堂的原乡，因为天堂是仿照毛里求斯这个小岛而打造出来的。而今，这个天堂的原乡，已经成为全世界享受生命、解放自己的秘密花园。毛里求斯景色优美，风光绮丽、美丽的海滩和明媚的阳光吸引着大批来自世界各地的旅游者。北部的潘普利莫塞斯花园内花木葱葱，百鸟啾啾。</p>
							<p>毛里求斯毛里求斯是全球公认的海岛蜜月圣地，全年只有夏、冬两个季节，平均气温25℃，非常适宜度假，这里有着名的红顶教堂，位于毛里求斯的最北端，香港明星陈小春和应采儿的婚礼就是在这里举行的，红色屋顶的教堂与一望无际的海洋交相辉映。</p>
						</div>		
					</div>
				</div>
			</div>


		<!-- ===================================================
			底部
			==================================================== -->
			<footer>
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<p class="wedding-social-icons">
									<a href="#"><i class="iconfont icon-cart"></i></a>
									<a href="#"><i class="iconfont icon-mobile2"></i></a>
									<a href="#"><i class="iconfont icon-bubbles"></i></a>
									<a href="#"><i class="iconfont icon-dgoogle"></i></a>
									<a href="#"><i class="iconfont icon-qrcode"></i></a>
								</p>
								<p><a href="../index.html">wedding首页</a> | <a href="./contact.html">联系我们</a> | <a href="">关于我们</a> <br>©2017 wedding版权所有  </p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			


		<!-- ===================================================
			悬浮按钮
			==================================================== -->
			<div id="wedding-btn">

				<a href="./contact.html" class="goOrder">
					<i class="iconfont icon-order"></i>
					<p>预定</p>
				</a>
				<a href="javascript:void(0)" class="goTop">
					<i class="iconfont icon-stick"></i>
					<p>返回顶部</p>
				</a>
			</div>				
		</div>

	</div>	



	<script src="../public/libs/jquery-2.0.2.min.js"></script>
	<script src="../public/libs/bootstrap.js"></script>
	<script src="../public/libs/loading.js"></script>
	<script src="../public/libs/slide.min.js"></script>
	<script src="../public/libs/jquery.masonry.min.js"></script>
	<script src="../public/libs/jquery.lazyload.min.js"></script>
	<script src="../public/libs/jquery.waypoints.min.js"></script>
	<script src="../scripts/index.js"></script>

</body>
</html>