<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>妆容造型</title>	
	<link rel="shortcut icon" href="../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../public/less/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../public/less/iconmoon.css">
	<link rel="stylesheet" type="text/css" href="../public/less/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/less/slide.css">
	<link rel="stylesheet" type="text/css" href="../public/less/base.css">
	<link rel="stylesheet" type="text/css" href="../public/less/style.css">

</head>
<body>	
<!-- ===================================================
	加载效果
	==================================================== -->
	<div class="loader"></div>

<!-- ===================================================
	导航栏
	==================================================== -->
	<div id="wedding-wrapper">
		<div id="wedding-page">
			<div id="wedding-header">
				<header id="wedding-header-section">
					<nav id="wedding-menu-wrap" role="navigation" class="navbar navbar-default">
						<div class="container-fluid">				
							<div class="nav-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Wedding</a>
							</div>		
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		
								<ul class="nav navbar-nav navbar-right" >
									<li ><a href="../index.html">首页</a></li>
									<li><a href="./dress.html">婚纱风情</a></li>
									<li><a href="./makeup.html">妆容造型</a></li>
									<li class="dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">主题婚礼<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="./theme.html" target="_blank">西方</a></li>
											<li><a href="./theme.html#ancient" target="_blank">古色</a></li>
											<li><a href="./theme.html#dream" target="_blank">梦幻</a></li>
											<li><a href="./theme.html#modern" target="_blank">现代</a></li>	
										</ul>
									</li>

									<li><a href="./arrange.html">婚礼布置</a></li>
									<li><a href="./global.html">全球婚礼</a></li>
									<li><a href="./contact.html">联系我们</a></li>	
								</ul>
							</div>	
						</div>
					</nav>		
				</header>
			</div>

		<!-- ===================================================
			浮动字幕
			==================================================== -->				
			<div id="wedding-subtitles" class="makeup-subtitles">
				<div class="wedding-overlay"></div>
				<div class="wedding-cover text-center"></div>
			</div>

		<!-- ===================================================
			内容页
			==================================================== -->	
			<div class="container" id="makeup-container">
				<div class="title-address">
					<a href="../index.html">首页</a>
					<span>妆容造型</span>	
				</div>
				
				<div id="makeup-bg">
					<!-- 新娘发型 -->
					
					<div class="water-hair whitebg">
						<div id="mk-box">
							<span class="box-left">新娘发型</span>
							<a href="javascript:void" class="box-right">+More</a>
						</div>

						<ul class="masonry ">
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair1.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair2.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair3.jpg" />
							</li>							
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair5.jpg" />
							</li>
							
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair7.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair8.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair9.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair10.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair11.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair4.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair12.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair13.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair14.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair15.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair6.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/hair/hair16.jpg" />
							</li>
						</ul>
					</div>					
					<div class="ad">
						<div class="ad-over"></div>
						<div class="ad-content ">
							<h2>Wedding Plan</h2>
							<span>惊艳时光,他眼中最美的你</span>
						</div>
					</div>
					<!-- 新娘妆容 -->
					<div class="water-mu whitebg">
						<div id="mk-box">
							<span class="box-left">新娘妆容</span>
							<a href="javascript:void" class="box-right">+More</a>
						</div>
						<ul class="masonry ">
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu1.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu2.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu3.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu4.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu5.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu6.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu7.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu8.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu9.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu10.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu11.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu12.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu13.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu14.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu15.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/mu/mu16.jpg" />
							</li>
						</ul>
					</div>
					<div class="ad">
						<div class="ad-over"></div>
						<div class="ad-content ">
							<h2>Wedding Plan</h2>
							<span>惊艳时光,他眼中最美的你</span>
						</div>
					</div>
					<!-- 新娘头纱 -->
					<div class="water-veil whitebg">
						<div id="mk-box">
							<span class="box-left">新娘头纱</span>
							<a href="javascript:void" class="box-right">+More</a>
						</div>
						<ul class="masonry ">
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil1.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil2.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil3.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil4.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil5.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil6.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil7.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil8.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil9.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil10.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil11.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil12.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/veil/veil13.jpg" />
							</li>					
						</ul>
					</div>
					<div class="ad">
						<div class="ad-over"></div>
						<div class="ad-content ">
							<h2>Wedding Plan</h2>
							<span>惊艳时光,他眼中最美的你</span>
						</div>
					</div>
					<!-- 新娘美甲 -->
					<div class="water-nail whitebg">
						<div id="mk-box">
							<span class="box-left">新娘美甲</span>
							<a href="javascript:void" class="box-right">+More</a>
						</div>
						<ul class="masonry ">
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/nail/nail1.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/nail/nail2.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/nail/nail3.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/nail/nail4.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/nail/nail5.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/nail/nail6.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/nail/nail7.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/nail/nail8.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/nail/nail9.jpg" />
							</li>						
						</ul>
					</div>
					<div class="ad">
						<div class="ad-over"></div>
						<div class="ad-content ">
							<h2>Wedding Plan</h2>
							<span>惊艳时光,他眼中最美的你</span>
						</div>
					</div>
					<!-- 总体造型 -->
					<div class="water-to whitebg">
						<div id="mk-box">
							<span class="box-left">总体造型</span>
							<a href="javascript:void" class="box-right">+More</a>
						</div>
						<ul class="masonry ">
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to1.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to2.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to3.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to4.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to5.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to6.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to7.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to8.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to9.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to10.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to11.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to12.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to13.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to14.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to15.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to16.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to17.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to18.jpg" />
							</li>
							<li class="item">
								<img src="../images/pics/loading.gif" data-original="../images/pics/to/to19.jpg" />
							</li><li class="item">
							<img src="../images/pics/loading.gif" data-original="../images/pics/to/to20.jpg" />
						</li>
						<li class="item">
							<img src="../images/pics/loading.gif" data-original="../images/pics/to/to21.jpg" />
						</li>
						<li class="item">
							<img src="../images/pics/loading.gif" data-original="../images/pics/to/to22.jpg" />
						</li><li class="item">
						<img src="../images/pics/loading.gif" data-original="../images/pics/to/to23.jpg" />
					</li>
					<li class="item">
						<img src="../images/pics/loading.gif" data-original="../images/pics/to/to24.jpg" />
					</li>
					<li class="item">
						<img src="../images/pics/loading.gif" data-original="../images/pics/to/to25.jpg" />
					</li><li class="item">
					<img src="../images/pics/loading.gif" data-original="../images/pics/to/to26.jpg" />
				</li>		
			</ul>
		</div>
	</div>
</div>




		<!-- ===================================================
			底部
			==================================================== -->
			<footer>
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<p class="wedding-social-icons">
									<a href="#"><i class="iconfont icon-cart"></i></a>
									<a href="#"><i class="iconfont icon-mobile2"></i></a>
									<a href="#"><i class="iconfont icon-bubbles"></i></a>
									<a href="#"><i class="iconfont icon-dgoogle"></i></a>
									<a href="#"><i class="iconfont icon-qrcode"></i></a>
								</p>
								<p><a href="../index.html">wedding首页</a> | <a href="./contact.html">联系我们</a> | <a href="javascript:void">关于我们</a> <br>©2017 wedding版权所有  </p>
							</div>
						</div>
					</div>
				</div>
			</footer>



		<!-- ===================================================
			悬浮按钮
			==================================================== -->
			<div id="wedding-btn">

				<a href="./contact.html" class="goOrder">
					<i class="iconfont icon-order"></i>
					<p>预定</p>
				</a>
				<a href="javascript:void(0)" class="goTop">
					<i class="iconfont icon-stick"></i>
					<p>返回顶部</p>
				</a>
			</div>				
		</div>

	</div>	



	<script src="../public/libs/jquery-2.0.2.min.js"></script>
	<script src="../public/libs/bootstrap.js"></script>
	<script src="../public/libs/loading.js"></script>
	<script src="../public/libs/slide.min.js"></script>
	<script src="../public/libs/jquery.masonry.min.js"></script>
	<script src="../public/libs/jquery.lazyload.min.js"></script>
	<script src="../public/libs/jquery.waypoints.min.js"></script>
	<script src="../scripts/index.js"></script>


</body>
</html>