<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>主题婚礼</title>	
	<link rel="shortcut icon" href="../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../public/less/base.css">
	<link rel="stylesheet" type="text/css" href="../public/less/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../public/less/iconmoon.css">
	<link rel="stylesheet" type="text/css" href="../public/less/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/less/slide.css">
	<link rel="stylesheet" type="text/css" href="../public/less/style.css">

</head>
<body>	
<!-- ===================================================
	加载效果
	==================================================== -->
	<div class="loader"></div>
	
<!-- ===================================================
	导航栏
	==================================================== -->
	<div id="wedding-wrapper">
		<div id="wedding-page">		
			<div id="wedding-header">
				<header id="wedding-header-section">
					<nav id="wedding-menu-wrap" role="navigation" class="navbar navbar-default">
						<div class="container-fluid">				
							<div class="nav-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Wedding</a>
							</div>		
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		
								<ul class="nav navbar-nav navbar-right" >
									<li ><a href="../index.html">首页</a></li>
									<li><a href="./dress.html">婚纱风情</a></li>
									<li><a href="./makeup.html">妆容造型</a></li>
									<li class="dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">主题婚礼<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="./theme.html" target="_blank">西方</a></li>
											<li><a href="./theme.html#ancient" target="_blank">古色</a></li>
											<li><a href="./theme.html#dream" target="_blank">梦幻</a></li>
											<li><a href="./theme.html#modern" target="_blank">现代</a></li>	
										</ul>
									</li>

									<li><a href="./arrange.html">婚礼布置</a></li>
									<li><a href="./global.html">全球婚礼</a></li>
									<li><a href="./contact.html">联系我们</a></li>	
								</ul>
							</div>	
						</div>
					</nav>		
				</header>
			</div>
			
		<!-- ===================================================
			浮动字幕
			==================================================== -->				
			<div id="wedding-subtitles" class="theme-cover">
				<div class="wedding-overlay"></div>
				<div class="wedding-cover text-center"  data-stellar-background-ratio="0.5" >
					<div class="desc animate-box fadeInUp animated">
						<h2>一千种美丽，一千种幸福</h2>						
					</div>
				</div>
			</div>
			
		<!-- ===================================================
			We do
			==================================================== -->	
			<div id="wedding-wedo">
				<div class="intro animate-box">
					<h2>We do everything for you</h2>
					<p>您可以选择喜爱的主题，我们将把它贯穿于婚礼始终，最贴心的设计，最特别的回忆，只要是您希望的，我们都会为您办到</p>
				</div>
				<div class="summary container">
					<div class="row text-center">
						<div class="col-md-4 col-sm-4">
							<div class="sum animate-box">
								<i class="iconfont icon-select2"></i>
								<h3>主题选择</h3>
								<p>我们提供上百种不同主题，四个大类，每种都有实际案例，在选择基础上根据实际情况进行改变</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="sum animate-box">
								<i class="iconfont icon-made"></i>
								<h3>主题定制</h3>
								<p>您可以根据自己的想法，制定一套特别定制的主题，我们愿竭尽全力，为您圆梦</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="sum animate-box">
								<i class="iconfont icon-select"></i>
								<h3>主题评选</h3>
								<p>特别定制的主题进行评选后，您将有机会把创意传递给更多人，海量旅游全程券，摄影vip卡等你来拿</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="sum animate-box">
								<i class="iconfont icon-photo"></i>
								<h3>主题摄影</h3>
								<p>我们将提供全程摄影，由剪辑师进行剪辑，美化。每分每秒都浓缩着幸福的时光，值得一生珍藏</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="sum animate-box">
								<i class="iconfont icon-stage"></i>
								<h3>婚礼舞台</h3>
								<p>全国一千六百家的合作平台，我们为您提供舞台，泳池，教堂等场景，为您搭建最合适的舞台</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="sum animate-box">
								<i class="iconfont icon-set animated"></i>
								<h3>全套主题</h3>
								<p>我们为您提供全套的主题流程，小到花束餐具，大到仪式现场，将您喜爱的主题贯彻到每一处</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- ===================================================
			侧边电梯
			==================================================== -->	
			<div id="wedding-lift">
				<div class="lift-nav">
					<ul class="lift">
						<li ><a href="#west" class="topLink">西方</a></li>
						<li ><a href="#gu" class="topLink">古色</a></li>
						<li ><a href="#dream" class="topLink">梦幻</a></li>
						<li ><a href="#modern" class="topLink">现代</a></li>

					</ul>
				</div>

				<div class="lift-target">
					<div id="west">
						<div class="lift-title">
							<div class="big">
								<h2>West<span>西方</span></h2>
							</div>
							<p>古典和现代的西式婚礼，随心所选。奢华的欧式风格，简约的水晶物语，金属与花束的碰撞。</p>
						</div>
						<div class="container">
							<div class="row ">
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/west/w1.jpg">
										<div class="overlay">
											<h2>梦幻爱丽丝</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/west/w2.jpg">
										<div class="overlay">
											<h2>罗曼蒂克</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/west/w3.jpg">
										<div class="overlay">
											<h2>浅语</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/west/w4.jpg">
										<div class="overlay">
											<h2>梦幻宫廷</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/west/w5.jpg">
										<div class="overlay">
											<h2>白羽之梦</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/west/w6.jpg">
										<div class="overlay">
											<h2>丛林世界</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/west/w7.jpg">
										<div class="overlay">
											<h2>教堂幻影</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/west/w8.jpg">
										<div class="overlay">
											<h2>古欧花园</h2>
										</div>	
									</div>
								</div>
							</div>
						</div>
						

					</div>
					<div id="gu">
						<div class="lift-title">
							<div class="big">
								<h2>Retro<span>古色</span></h2>
							</div>
							<p>中国式的复古风，雕梁画栋，屏风纸伞，飘飘然仙境般，一圆你的古风梦。凤冠霞帔，红喜烛，一生一世一双人。</p>
						</div>
						<div class="container">
							<div class="row ">
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/gu/gu1.jpg">
										<div class="overlay">
											<h2>古色主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/gu/gu2.jpg">
										<div class="overlay">
											<h2>古色主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/gu/gu3.jpg">
										<div class="overlay">
											<h2>古色主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/gu/gu4.jpg">
										<div class="overlay">
											<h2>古色主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/gu/gu5.jpg">
										<div class="overlay">
											<h2>古色主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/gu/gu6.jpg">
										<div class="overlay">
											<h2>古色主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/gu/gu7.jpg">
										<div class="overlay">
											<h2>古色主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/gu/gu8.jpg">
										<div class="overlay">
											<h2>古色主题</h2>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="dream">
						<div class="lift-title">
							<div class="big">
								<h2>Dream<span>梦幻</span></h2>
							</div>
							<p>大胆使用新奇，夸张的元素，打造出脱世俗的梦幻场景。海底，丛林，冰雪，星空，甚至你最爱的电影场景，都能为你实现。</p>
						</div>	
						<div class="container">
							<div class="row ">
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/dream/d1.jpg">
										<div class="overlay">
											<h2>梦幻主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/dream/d2.jpg">
										<div class="overlay">
											<h2>梦幻主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/dream/d3.jpg">
										<div class="overlay">
											<h2>梦幻主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/dream/d4.jpg">
										<div class="overlay">
											<h2>梦幻主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/dream/d5.jpg">
										<div class="overlay">
											<h2>梦幻主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/dream/d6.jpg">
										<div class="overlay">
											<h2>梦幻主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/dream/d7.jpg">
										<div class="overlay">
											<h2>梦幻主题</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/dream/d8.jpg">
										<div class="overlay">
											<h2>梦幻主题</h2>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="modern">
						<div class="lift-title">
							<div class="big">
								<h2>Modern<span>现代</span></h2>
							</div>
							<p>现代的简约元素，纯白的轻纱和团簇的鲜花，为你打造最纯洁无暇的婚礼。</p>
						</div>
						<div class="container">
							<div class="row ">
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/modern/mo1.jpg">
										<div class="overlay">
											<h2>梦幻爱丽丝</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/modern/mo2.jpg">
										<div class="overlay">
											<h2>罗曼蒂克</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/modern/mo3.jpg">
										<div class="overlay">
											<h2>浅语</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/modern/mo4.jpg">
										<div class="overlay">
											<h2>梦幻宫廷</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/modern/mo5.jpg">
										<div class="overlay">
											<h2>白羽之梦</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/modern/mo6.jpg">
										<div class="overlay">
											<h2>丛林世界</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/modern/mo7.jpg">
										<div class="overlay">
											<h2>教堂幻影</h2>
										</div>	
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="hover">
										<img class="img-responsive" src="../images/theme/modern/mo8.jpg">
										<div class="overlay">
											<h2>古欧花园</h2>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




		<!-- ===================================================
			底部
			==================================================== -->
			<footer>
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<p class="wedding-social-icons">
									<a href="#"><i class="iconfont icon-cart"></i></a>
									<a href="#"><i class="iconfont icon-mobile2"></i></a>
									<a href="#"><i class="iconfont icon-bubbles"></i></a>
									<a href="#"><i class="iconfont icon-dgoogle"></i></a>
									<a href="#"><i class="iconfont icon-qrcode"></i></a>
								</p>
								<p><a href="../index.html">wedding首页</a> | <a href="./contact.html">联系我们</a> | <a href="javascript:void">关于我们</a> <br>©2017 wedding版权所有  </p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			


		<!-- ===================================================
			悬浮按钮
			==================================================== -->
			<div id="wedding-btn">

				<a href="./contact.html" class="goOrder">
					<i class="iconfont icon-order"></i>
					<p>预定</p>
				</a>
				<a href="javascript:void(0)" class="goTop">
					<i class="iconfont icon-stick"></i>
					<p>返回顶部</p>
				</a>
			</div>				
		</div>

	</div>	



	<script src="../public/libs/jquery-2.0.2.min.js"></script>
	<script src="../public/libs/bootstrap.js"></script>
	<script src="../public/libs/loading.js"></script>
	<script src="../public/libs/slide.min.js"></script>
	<script src="../public/libs/jquery.masonry.min.js"></script>
	<script src="../public/libs/jquery.lazyload.min.js"></script>
	<script src="../public/libs/jquery.waypoints.min.js"></script>
	<script src="../scripts/index.js"></script>

</body>
</html>